@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    font-family: "Work Sans", serif;
}
.btn{
    width:282px;
    height:65px;
    padding:10px;
    background-color:#52C303;
    color:white;
    border:none;
    font-size:20px;
    margin-top:40px;
    cursor:pointer;
    font-weight:600;
}
#hero{
    background:linear-gradient(
        0deg,
        rgb(9, 9, 9),
        rgba(16, 16, 16, 0)
    ),url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size:cover;
    height:919px;
    display:flex;
    justify-content: center;
    align-items: center;
}
#hero .hero_content{
    width:1023px;
    text-align:center;
}
#hero .hero_content .subtitle{
    color:rgb(255, 255, 255);
    opacity:0.8;
    font-size:32px;
    line-height: 60px;
}
#hero .hero_content .title{
    color:rgb(255, 255, 255);
    font-size:60px;
    line-height: 70px;
}
#hero .hero_content .content{
    color:rgb(255, 255, 255);
    font-size:32px;
    margin-top:30px;
    opacity:0.9;
}
#hero .hero_content .btn{
    width:282px;
    height:65px;
    padding:10px;
    background-color:#52C303;
    color:white;
    border:none;
    font-size:20px;
    margin-top:40px;
    cursor:pointer;
    font-weight:600;
}
#product_container{
    height:871px;
    text-align:center;
    justify-content: center;
    margin:100px 0;
    
}
#product_container .product_header>p{
    color:rgb(16, 16, 16);
    font-size:24px;
    font-weight:500;
    line-height:28px;
    opacity:0.8;
    margin:16px;
}
#product_container .product_header .heading{
    justify-content: center;
    display:flex;
}
#product_container .product_header .heading>h1{
    width:612px;
    color:rgb(16, 16, 16);
    font-size:45px;
    font-weight:700;
}
#product_container .product{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:48px;
    gap:20px;
}
#product_container .cart{
    width:440px;
}
#product_container .cart img{
    width:424px;
    height:283px;
}

#product_container .cart h2{
    width:187px;
    height:56px;
    background-color:rgba(82, 195, 3, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:32px;
    margin-left:auto;
    margin-right:auto;
}
#product_container .cart h1{
    color:rgb(16, 16, 16);
    font-size:40px;
    margin:24px;

}
.about-us{
    display:flex;
}
.about-us-img{
    width:960px;
    height:671px;
}
.margin{
    text-align: center;
    margin:137px 150px 50px 77px;
}
.about-us-content .margin>h1{
    font-size:48px;
    margin-bottom:24px;
}
.about-us-content .margin>p{
    color:rgb(16, 16, 16);
    opacity:0.8;
    font-size:24px;
    margin-bottom:48px;
}
.follow-btn>h3{
    color:rgb(16, 16, 16);
    opacity:0.6;
    font-size:32px;
    padding:30px;
    border:1px solid gray;
    border-right:none;
    text-align:center;
    cursor:pointer;
    text-decoration: none;
}
.follow-btn a{
    text-decoration: none;
    color:rgb(16, 16, 16);
}
.social{
    margin-top:50px;
    
    display:flex;
    justify-content: center;
    align-items: center;
    gap:32px;
}
.social img{
    cursor:pointer;
}